[http]
	cookiefile = /Users/rvighnesh/.gitcookies
[color]
	ui = auto
[merge]
	renameLimit = 999999
[diff]
	renameLimit = 999999
[core]
	excludesFile = ~/.gitignore
	editor = nano
[alias]
	adog = log --all --decorate --oneline --graph
[user]
	name = vighnesh153
